/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/* css reset */
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /* colors */
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-family: 'Space Mono', monospace;
    background-color: var(--light-grayish-cyan);
}

/* CONTAINER */
.container {
    height: 100vh;

    /* grid */
    display: grid;
    grid-template-areas: 
    "logo"
    "main"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
}

/* HEADER */
header {
    grid-area: logo;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* MAIN */
main {
    grid-area: main;

    background-color: var(--white);
    padding: 3rem;

    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

/* TIP CONTAINER */
.tip__container {
    height: 100%;

    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* TIP CALCULATOR */
.tip__calculator {
    flex-basis: 70%;
    padding-bottom: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* TIP RESULT */
.tip__result {
    background-color: var(--very-dark-cyan);
    flex-basis: 30%;
}