/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/* css reset */
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /* colors */
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-family: 'Space Mono', monospace;
    background-color: var(--light-grayish-cyan);
}

/* CONTAINER */
.container {
    min-height: 100vh;

    /* grid */
    display: grid;
    grid-template-areas: 
    "logo"
    "main"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
}

/* HEADER */
header {
    grid-area: logo;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* MAIN */
main {
    grid-area: main;

    background-color: var(--white);
    padding: 3rem;

    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

/* TIP CONTAINER */
.tip__container {
    height: 100%;

    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* TIP CALCULATOR */
.tip__calculator {
    flex-basis: 70%;
    padding-bottom: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tip--header {
    color: var(--very-dark-cyan);
}

/* calculator input */
.calculator--input {
    /* flex */
    display: flex;
    height: 2rem;

    position: relative;
}

/* Chrome, Safari, Edge, Opera */
.calculator--input input::-webkit-outer-spin-button,
.calculator--input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.calculator--input input[type='number'] {
  -moz-appearance: textfield;
}

.calculator--input img {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.8;
}

.calculator--input input {
    width: 95%;
    border: none;
    border-radius: 0.2rem;
    direction: rtl;
    color: var(--very-dark-cyan);
    font-size: 1.4rem;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    padding-right: 1rem;
}

.calculator--input input:focus {
    outline: 1px solid var(--strong-cyan);
}

.calculator--input input::placeholder {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);

    color: var(--dark-grayish-cyan);
    opacity: 0.4;
    font-size: 1.4rem;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}

/* tip percentage */
.tip__tip-percentage {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1em;
}

.tip__tip-percentage > * {
    flex: 0 1 45%;
    height: 3rem;
}

.btn-percentage {
    background-color: var(--very-dark-cyan);
    color: var(--white);
    border: none;
    border-radius: 0.5rem;
    font-size: 1.3rem;
    font-family: 'Space Mono', monospace;
    font-weight: 700;

    cursor: pointer;
}

.btn-percentage:hover,
.btn-percentage:active {
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
}

#input-percentage {
    border: none;
    border-radius: 0.2rem;
    direction: rtl;
    padding-right: 1rem;
    position: relative;
    color: var(--dark-grayish-cyan);

    font-weight: 700;
    opacity: 0.9;
}

#input-percentage:focus {
    outline: 1px solid var(--strong-cyan);
}

#input-percentage::placeholder {
    color: var(--dark-grayish-cyan);
    font-size: 1.4rem;
    font-weight: 700;
    opacity: 0.9;

    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
}

/* Chrome, Safari, Edge, Opera */
#input-percentage::-webkit-outer-spin-button,
#input-percentage::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#input-percentage[type='number'] {
  -moz-appearance: textfield;
}


/* TIP RESULT */
.tip__result {
    background-color: var(--very-dark-cyan);
    flex-basis: 30%;
    padding: 2rem 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tip__result:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tip__result:last-child {
    display: flex;
    justify-content: space-between;
}

.result-container {
    display: flex;
    justify-content: space-between;
}

.result-specifier {
    color: var(--white);
    font-weight: 700;
}

.result-person {
    color: var(--dark-grayish-cyan);
    font-size: 0.9rem;
}

.result-header {
    color: var(--strong-cyan);
    font-size: 1.7rem;
    font-weight: 700;
}

.tip__result--reset {
    width: 100%;
}

.tip__result--reset button {
    width: 100%;
    background-color: var(--strong-cyan);
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2rem;
    opacity: 0.2;
}

/* MEDIA QUERIES */
@media (min-width: 1000px) {
    /* container */
    .container {

        min-height: 100vh;
        grid-template-areas: 
            "logo"
            "main"
            "."
        ;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr 1fr;
    }

    main {
        margin: 0 auto;
        border-radius: 2rem;
        width: 80%;
        max-width: 1000px;
    }

    .tip__container {
        flex-direction: row;
    }

    .tip__calculator {
        flex-basis: 100%;
        padding-bottom: 0;
    }

    .tip__result {
        flex-basis: 100%;
        border-radius: 1rem;
    }
}